{{ if eq .Site.Params.useCDN "true" }}<script src="https://code.jquery.com/jquery-3.3.1.min.js?v=3.1.2.2" type="text/javascript"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js?v=3.1.2.2" type="text/javascript"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js?v=3.1.2.2" type="text/javascript"></script><script src="{{ .Site.BaseURL }}js/main.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/tag-it/2.0/js/tag-it.min.js"></script>{{ else }}
<script src="{{ .Site.BaseURL }}js/jquery-3.5.1.min.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery-ui.min.js"></script>
<script src="{{ .Site.BaseURL }}js/popper.min.js"></script>
<script src="{{ .Site.BaseURL }}js/tag-it.min.js"></script>
<script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}js/main.js"></script>
{{ end }}


