{{ if eq .Site.Params.useCDN "true" }}<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:200,200i,400,400i|Fira+Sans:300,300i,400,400i,700,700i" type="text/css" /><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.0/cerulean/bootstrap.min.css" />
<!-- Main Stylesheet --><link rel="stylesheet" href="http://localhost:1313/css/default.css" />{{ else }}<link rel="stylesheet" href="{{ .Site.BaseURL }}css/localfonts.css" type="text/css" /><link rel="stylesheet" href="{{ .Site.BaseURL }}css/all.min.css" type="text/css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap.min.css" />
<!-- Main Stylesheet --><link rel="stylesheet" href="http://localhost:1313/css/default.css" />
{{ end }}

